* {
  margin: 0;
  color: white;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "SF Pro Text",
    Roboto, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.clock {
  position: absolute;
  font-size: 9vh;
  font-weight: 600;
  top: 10%;
}

#search_bar {
  position: absolute;
  bottom: 15%;
  width: 500px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  font-weight: 500;
  text-align: center;
  font-size: larger;
  border: none;
  border-radius: 10px;
  backdrop-filter: blur(7px);
}

#search_bar::placeholder {
  color: white;
  opacity: 1;
}

.outer_box {
  bottom: 300px;
  position: absolute;
  bottom: 30%;
  width: 500px;
  height: 350px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

#box {
  padding: 10px;
  border-radius: 10px;
  display: grid;
}

.websites {
  opacity: 1;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  transition: 350ms;
  font-size: 19px;
  transform: scale(0.8);
  font-weight: 600;
  backdrop-filter: blur(7px);
}

.websites:hover {
  transform: scale(1);
}

.menu_button {
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 5px;
  border: none;
  color: rgba(255, 255, 255, 0.9);
  padding: 7px;
  font-weight: 500;
  backdrop-filter: blur(7px);
}

input {
  width: 100px;
  height: 50px;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  transition: 350ms;
  font-size: larger;
  font-weight: 600;
}

input:hover{
  transform: scale(1.1);
}

#walls{
  right: 280px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#walls::-webkit-scrollbar{
  display: none;
}

.menu {
  display: none;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: repeat(5, 70px);
  padding: 10px;
  width: 230px;
  height: 330px;
  background-color: rgba(0, 0, 0, 0.2);
  color: teal;
  position: absolute;
  top: 50px;
  right: 15px;
  border-radius: 7px;
  backdrop-filter: blur(7px);
}

.add_website_menu {
  display: none;
  position: absolute;
  width: 400px;
  height: 220px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  color: teal;
  top: 25%;
  border-radius: 7px;
  backdrop-filter: blur(7px);
  justify-content: center;
}

.add_website_button {
  position: absolute;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  border: none;
  color: rgb(200, 200, 200);
  bottom: 40px;
  left: 37%;
  transition: 350ms;
  font-weight: 500;
  font-size: medium;
}

.add_website_button:hover {
  transform: scale(1.1);
}

.user_input1,
.user_input2 {
  width: 150px;
  height: 20px;
  border: none;
  border-radius: 7px;
  padding-left: 8px;
  color: rgb(200, 200, 200);
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 52%;
}

.user_input1 {
  top: 52px;
  font-size: 14px;
}

.user_input2 {
  top: 102px;
  font-size: 14px;
}

.remove {
  width: 70px;
  height: 30px;
  display: none;
  position: absolute;
  bottom: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 8px;
  backdrop-filter: blur(7px);
}
