* {
    margin: 0;
    font-family: sans-serif;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.clock {
    position: absolute;
    font-size: 7vh;
    top: 40%;
}

.dock {
    bottom: 5px;
    position: absolute;
    width: 800px;
    height: 70px;
    background-color: black;
    border-radius: 10px;
    opacity: 0.4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.websites {
    opacity: 1;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    transition: 350ms;
    font-size: 20px;
}

.websites:hover {
    transform: scale(1.5);
}

.menu_button {
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 5px;
    border: none;
    color: rgba(255, 255, 255, 0.9);
    padding: 7px;
    font-weight: 500;
}

input {
    width: 100px;
    height: 50px;
    border-radius: 7px;
    transition: 350ms;
}

input:hover {
    transform: scale(1.1);
}

.menu {
    display: none;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: repeat(8, 70px);
    padding: 10px;
    width: 230px;
    height: 540px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50px;
    right: 20px;
    border-radius: 7px;
    backdrop-filter: blur(10px);
}

.add_website_menu {
    display: none;
    position: absolute;
    width: 400px;
    height: 175px;
    background-color: white;
    border-radius: 15px;
    top: 30%;
}

.add_website_button {
    position: absolute;
    padding: 5px;
    background-color: black;
    border-radius: 15px;
    border: none;
    bottom: 10px;
    left: 35%;
    transition: 350ms;
}

.add_website_button:hover {
    transform: scale(1.1);
}

.user_input1,
.user_input2 {
    width: 150px;
    height: 20px;
    border: none;
    background-color: black;
    position: absolute;
    left: 50%;
}

.user_input1 {
    top: 50px;
}

.user_input2 {
    top: 90px;
}